@use '../../styles/Foundation/variables' as *;
@use '../../styles/Foundation/mixin' as *;

.root {
  margin-top: 1rem;
  border-top: 1px solid $theme-color;
  background: $theme-color;
  position: relative;
  color: #ffffff;
  flex-grow: 1;
  padding: 2rem 1rem;
  @include mq(md) {
    @media (orientation: landscape) {
      margin-top: 0;
      border-top: 0;
    }
  }
  .menuItems {
    margin: 0.6rem auto;
    display: flex;
    position: relative;
    background: $theme-color;
    li {
      margin: auto 1.2rem;
      a {
        color: #ffffff;
      }
    }
  }
}
.siteTitle {
  font-family: $font-logo;
  font-size: 6rem;
  color: #ffffff;
  @include mq(xs) {
    margin: 0;
    font-size: 3rem;
  }
}
.description {
  font-size: 2.6rem;
}
.callToAction {
  margin: 1rem 2rem;
  font-size: 2rem;
}
