@use '../../styles/Foundation/variables' as *;
@use '../../styles/Foundation/mixin' as *;

.root {
  padding: 2rem 1rem;
  @include mq(md) {
    @media (orientation: landscape) {
      border-right: 1px solid $theme-color;
    }
  }
  .author {
    font-weight: bold;
    font-size: 1.8rem;
  }
  .socialLink {
    margin: 0.6rem auto;
    li {
      margin: 0.4rem auto;
    }
  }
}
.profileImage {
  display: inline-block;
  border-radius: 100%;
  background: #ffffff;
  @include mq(xs) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
  }
}
