@use '../../styles/Foundation/variables' as *;
@use '../../styles/Foundation/mixin' as *;

.root {
  @include mq(md) {
    @media (orientation: landscape) {
      border-right: 1px solid $theme-color;
      padding-right: 1rem;
    }
  }
  .socialLink {
    margin: 0.6rem auto;
    li {
      margin: 0.4rem auto;
    }
  }
}
.profileImage {
  border: 1px solid $gray;
  display: inline-block;
  border-radius: 100%;
  background: #ffffff;
  @include mq(xs) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
  }
}
