@use '../../styles/Foundation/variables' as *;
@use '../../styles/Foundation/mixin' as *;

@keyframes button_animation {
  0% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -15px);
  }
}

.heroheader {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  @include mq(xs) {
    display: none;
  }
  .bgWrap {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .navContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    z-index: 999;
    @include mq(md) {
      padding: 4rem;
    }
    > div {
      border: 1px solid $theme-color;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background: #ffffff;
      overflow: hidden;
      position: relative;
      @include mq(md) {
        flex-direction: row;
        @media (orientation: portrait) {
          flex-direction: column;
        }
      }
    }
  }
  .bottomButton {
    position: absolute;
    left: calc(50% - 30px);
    bottom: 2.5rem;
    background: $gray-dark;
    color: #ffffff;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    &:hover {
      animation: button_animation 1s ease-in-out infinite alternate;
    }
    @media screen and (max-height: 450px) {
      display: none;
    }
  }
}
