@use '../../styles/Foundation/variables' as *;
@use '../../styles/Foundation/mixin' as *;

.root {
  position: relative;
}
.componentRoot {
  .Work_list {
    margin: 1rem 1rem auto;
    @include mq(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }
    li {
      margin-bottom: 2rem;
      @include mq(md) {
        width: 32%;
        margin: 0.6rem 0.4rem;
        padding: 0.6rem;
        border: 2px solid $theme-color;
        border-radius: 4px;
      }
      .create_date {
        color: $gray-dark;
        margin-bottom: 0.4rem;
        display: flex;
        flex-wrap: wrap;
        span {
          margin: auto 0.4rem;
        }
      }
      a {
        display: block;
        font-size: 1.8rem;
        &:hover {
          img {
            opacity: 0.4;
          }
        }
      }
      .description {
        font-size: 1.4rem;
        display: block;
        margin: 0.6rem auto;
      }
      .otherInfo {
        font-size: 1.2rem;
      }
    }
  }
}
.tag {
  background: $gray-dark;
  color: #ffffff;
  padding: 0.2rem;
}
