@use '../../Foundation/variables' as *;

.c__button {
  color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  margin: 1rem 0;
  display: inline-block;
  width: auto;
  &:hover {
    background: $gray-dark;
    text-decoration: none;
  }
}
.c__button--primary {
  @extend .c__button;
  background: $theme-color;
}
.c__button--invert {
  @extend .c__button;
  background: #ffffff;
  color: $theme-color;
  &:hover {
    color: #ffffff;
  }
}
