@use '../../styles/Foundation/variables' as *;
@use '../../styles/Foundation/mixin' as *;

.item {
  margin-bottom: 2rem;
  .title {
    font-weight: bold;
    margin: 0.4rem auto;
  }
  .detail {
    white-space: pre-line;
  }
  @include mq(md) {
    overflow: hidden;
    margin: 0;
    display: flex;
    .ymd {
      flex-grow: 1;
      text-align: right;
      padding: 20px;
      color: $gray;
    }
    section {
      width: 70%;
      border-left: 1px dashed $gray;
      padding: 20px;
      position: relative;
      .title {
        margin: 0;
      }
      &:before {
        content: '';
        background: $theme-color;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 24px;
        left: -10px;
        border-radius: 100%;
      }
    }
  }
}
