@use '../../styles/Foundation/variables' as *;
@use '../../styles/Foundation/mixin' as *;

$star-color: #e6b422;

.skill_item {
  overflow: hidden;
  border: 2px solid $theme-color;
  margin-bottom: 0.6rem;
  padding: 1rem;
  border-radius: 4px;
  .category {
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
  }
  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    .skill {
      font-weight: bold;
    }
    @include mq(md) {
      flex-direction: row;
      .skill {
        width: 20rem;
      }
    }
  }
}

@include mq(md) {
  .skill_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .skill_item {
      width: calc(50% - 1rem);
      margin-bottom: 2rem;
    }
  }
}

.star {
  color: $gray;
  &.star_1 {
    > :nth-child(1) {
      color: $star-color;
    }
  }
  &.star_2 {
    > :nth-child(1),
    > :nth-child(2) {
      color: $star-color;
    }
  }
  &.star_3 {
    > :nth-child(1),
    > :nth-child(2),
    > :nth-child(3) {
      color: $star-color;
    }
  }
  &.star_4 {
    > :nth-child(1),
    > :nth-child(2),
    > :nth-child(3),
    > :nth-child(4) {
      color: $star-color;
    }
  }
  &.star_5 {
    > :nth-child(1),
    > :nth-child(2),
    > :nth-child(3),
    > :nth-child(4),
    > :nth-child(5) {
      color: $star-color;
    }
  }
}
