@use '../../styles/Foundation/variables' as *;

.root {
  padding: 1rem 2rem;
}
.sectionTitle {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  color: $gray-darker;
  margin: 2rem auto 1rem;
  &:before,
  &:after {
    content: '';
    height: 1px;
    flex-grow: 1;
    background: $theme-color;
  }
  &:before {
    margin-right: 1rem;
  }
  &:after {
    margin-left: 1rem;
  }
}
